
<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un nouveau client</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card>
      <ion-item>
        <ion-label>Nom :</ion-label>
        <ion-input type="text" [(ngModel)]="nouveauClient.nom" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Prenom :</ion-label>
        <ion-input type="text" [(ngModel)]="nouveauClient.prenom" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Téléphone :</ion-label>
        <ion-input type="text" [(ngModel)]="nouveauClient.telephone" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Géolocalisation :</ion-label>
        <ion-input type="text" [(ngModel)]="nouveauClient.geolocalisation" ngDefaultControl></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)='enregistrerNouveauClient()'>Enregistrer</ion-button>
        <ion-button (click)='quitterAjoutClient()'>Annuler</ion-button>
      </ion-item>
    </ion-card> 
  </ion-content>
