<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des Interventions
    </ion-title>
  </ion-toolbar>
<ion-card>
  <ion-list>
    <ion-item *ngFor="let Intervention of listeIntervention">
    <ion-item (click)="afficherListeInterventions()"></ion-item>
      <ion-row>
          <ion-col>
              <ion-label>{{Intervention.id}} {{Intervention.duree}}</ion-label>
          </ion-col>
          <!-- <ion-button (click)="detailClient()">
            Détails
          </ion-button> -->
      </ion-row>   
  </ion-item>
  <ion-list style="text-align:center">
    <ion-button (click)="ajoutInterventions()">
        Ajouter une Intervention
    </ion-button>
  </ion-list> 
  </ion-list>
</ion-card>
</ion-header>
